{% extends 'layout.html' %}
{% block content %}
{% if session.logged_in %}
<h2>Edit Post</h2>
    <form action="{{ url_for('edit_post',postid=post.id) }}" method="post" class="edit_post">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title" value="{{post.title}}">
        <dt>Categories:
        <dd><input type="text" size="30" name="categories" value="{% for cat in post.categories %}{{cat.name}} {% endfor %}">
        <dt>Body:
        <dd><textarea name="body" rows="5" cols="40" value="{{post.body}}"></textarea>
        <dd><input type="submit" value="Save">
      </dl>
    </form>
{% endif %}
{% endblock %}
