{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class ="box shadow-effect">
<h1>Nam Phan's Blog</h1>
<p>This blog’s primary purpose is to serve as an instrument by which I can master the materials I consume. The path to expertise is paved by the principles of 3R’s (Read, Recite, Review) and this blog is an exercise in all three.</p> 
<p>The blog is a collection of my projects and hobbies which include: General Software Development, Web development, DIY Technology, Datamining, Fitness, Weight-Lifting, Video Games, and Music. You also may find here various tutorials covering these topics.</p> 
</div>
{% endblock %}
