<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class=metanav>
      <a href="{{ url_for('index') }}">Home</a>
      {% if session.logged_in %}
        <a href="{{ url_for('add_post') }}">Add Post</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
    {% block content %}
    {% endblock %}
</html>

