{% extends 'layout.html' %}
{% block title %}Search{% endblock %}
{% block content %}
{% for post in posts %}
  <div class="box shadow-effect">
    <a href="{{url_for('view_post',postid=post.id)}}"><h2>{{post.title}}</h2></a>
    <p><strong>{{post.timestamp}}</strong></p>
    <p>
      {% for tag in post.categories %}
      <span class="label label-primary">{{tag.name}}</span> 
      {% endfor %}
    </p>
  </div>
{% else %}
<p>No Results Found.</p>
{% endfor %}
<!-- Add some paginations later -->
{% endblock %}
