{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('login') }}" method="post" class="login">
      <dl>
        <dt>Username:
        <dd><input type="text" size="30" name="username">
        <dt>Password:
        <dd><input type="password" size="30" name="password">
        <dd><input type="submit" value="Login">
      </dl>
    </form>
{% endblock %}
